<div class="container-fluid bg-dark text-light">
    <div class="row text-center p-5">
        <div class="col-4">
            <h5>LIENS UTILES</h5>
            <hr class="m-3">
            <ul>
                <li> <a href="#"> </a>CGU</li>
                <li> <a href="#"> </a>CGV</li>
                <li> <a href="#">Mentions Légales </a></li>
            </ul>
        </div>
        <div class="col-4 my-auto">
            {% if app.user and app.user.name %}
            <div class="mb-3">
                <p class=" text-light">{{app.user.firstname}} {{ app.user.name }}</p>
            </div>
            {% endif %}

        </div>
        <div class="col-4">
            <h5>COORDONÉES</h5>
            <hr class="m-3">
            <p>{{contact_company}}</p>
            <p>{{contact_adress}}</p>
            <p>{{contact_zip}}</p>
            <p>{{contact_city}}</p>
            <p>{{contact_phone}}</p>
            <p>{{contact_email}}</p>
        </div>
    </div>
    <div class="row" id="copiryght">
        <div class="col-12 text-center">
            <p>Copiryght &copy; {{ "now"|date("Y") }} - {{"Shoes.Rar"|upper}} </p>
        </div>
    </div>
</div>