<div class="container-fluid bg-dark text-light">
    <div class="row text-center p-5">
        <div class="col-4">
            <h5>QUELQUES LIENS</h5>
            <hr class="m-3">
            <ul>
                <li> <a href="#"> </a>CGU</li>
                <li> <a href="#"> </a>CGV</li>
                <li> <a href="#">Mentions Légales </a></li>
            </ul>
        </div>
        <div class="col-4 my-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" fill="white" class="bi bi-camera-fill"
                viewBox="0 0 16 16">
                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                <path
                    d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
            </svg>
        </div>
        <div class="col-4">
            <h5>COORDONÉES</h5>
            <hr class="m-3">
            <p>{{contact_company}}</p>
            <p>{{contact_adress}}</p>
            <p>{{contact_zip}}</p>
            <p>{{contact_city}}</p>
            <p>{{contact_phone}}</p>
            <p>{{contact_email}}</p>
        </div>
    </div>
    <div class="row" id="copiryght">
        <div class="col-12 text-center">
            <p>Copiryght &copy; {{ "now"|date("Y") }} - {{"prestat _ air"|upper}} </p>
        </div>
    </div>
</div>