{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
<div class="container">

    <div class="row my-5">
        <div class="col-12 text-center">
            <h1> Produits </h1>
        </div>
    </div>

    <div class="row my-5 container_fluid">

        {% for product in products |reverse %}
        {% if loop.index < 16 %} <div class="col-3 p-3">
            <div class="card text-center text-bg-dark mb-3">
                <div class="card-body">
                    <img src="{{ asset('imgs/products/' ~ product.image) }}" alt="image de la chaussure" class="w-100">
                    <h5 class="card-title">{{ product.name|upper}}</h5>
                    <p class="card-text">{{ product.price|number_format(2, ',', ' ') }} €</p>
                    <p class="card-text">{{ product.size}} </p>
                    <a href="{{path('product_show' , {'name' : product.name}) }}" class="btn btn-primary">Voir</a>
                </div>
            </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}